<!DOCTYPE html>
{% extends 'locksmith_app/base.html'%}
{% block body_block %}
{% load static %}
<div class="">
  <img src="{% static 'images/Car-Locks-Itself-with-Key-In-Ignition.jpg' %}" width="500" height="500" class="d-block w-100" alt="">
<div class="jumbo">
  <div class="container text-align-center">
    <h1>TimCole_Locksmith</h1>
    <p>TimCole private limited company, founded as a company offering mobile locksmith services.It later expanded its service range to also include a
      number of other services and products such as: Rekeying of residential and commercial locks; Making and programming automobile keys; Selling and
      installing high security locks; Residential and commercial door hardware sales and installation; Digital and push-button door hardware sales and
      installation; Safe and vault opening, repair and installation among other essential services. We are committed to ensuring that our customers are
      never compromised, robbed, hijacked with our locks in place. whenever our customers are stranded, they can always count on Us to make sure that their
      homes are secure, to retrive that broken main house key, to retrieve those car keys locked inside your car, to replace and fix that malfunction car key
      and to Ultimately make sure that you are never valnerable.<span></span>
      TimCole Locksmith is equiped with all the high and low tech security locks and features to gaurantee customer satisfaction. We are equiped with a team of
      professionals who are commited to offer you the best service possible without compromise. Our Mobile Locksmith services are currently our best seller, where
      any of our customers/clients with a key problem can give us a call or text and our mobile team will pay them a visit at that moment to solve the issue.
      Our Company is a proud South African Company currently operating in the Cape Town, Western Cape market domain with the goal to expand to other SA provinces.
      </p>

      <span><h2>Our Mission</h2></span>
      <p>To Gaurantee Home and Office security to our clients by providing cutting edge security locks and features as well as aleaviting the
        burdden of all locking and unlocking devices for our customers in an innovative manner</p>
      <span><h2>Our Motto</h2></span>
      <p>We Are Commited To Solving All Locking And Unlocking Problems</p>

      <p>Our Agents are there 24hrs/7Days to offer you all our mobile services.</p>

  </div>
</div>
</div>

{% endblock %}
