<!DOCTYPE html>
{% extends 'locksmith_app/base.html'%}
{% block body_block %}
{% load static %}

<div class="container-fluid">
  <div class="wallpaper">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="5"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="6"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="7"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="8"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="9"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'images/ten.jpg' %}" width="1200" height="500" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5 class= 'display-5'>Key Coding And Programming</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'images/Brokenkey.jpg' %}" width="1200" height="500" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5 class= 'display-5'>Broken Key Replacement</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'images/four.jpg' %}" width="1200" height="500" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5 class= 'display-5'>Malfunctioning Car Keys.</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'images/elleven.jpg' %}" width="1200" height="500" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5 class= 'display-5'>Car key Reprogramming</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'images/hangingkey.jpg' %}" width="1200" height="500" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5 class= 'display-5'>New Keys And Locks</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'images/lockfitment.jpg' %}" width="1200" height="500" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5 class= 'display-5'>Door Locks and Ignition problems</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'images/newlocks.jpg' %}" width="1200" height="500" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5 class= 'display-5'>Home And Office Door Locks</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'images/IMG-20201229-WA0037.jpg' %}" width="1200" height="500" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5 class= 'display-5'>Digital And Manual Door Locks</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'images/Titus-working.jpg' %}" width="1200" height="500" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5 class= 'display-5'>Home-Safe Repair, Locking and Unlocking.</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'images/IMG-20201229-WA0019.jpg' %}" width="500" height="500" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5 class= 'display-'>We Do It All.</h5>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
        </div>
    </div>

<div class='container-fluid'>

  <div class="jumbo">
    <div class="">
      <h1 class="display-3" style="text-align: center;">Our Products and Services</h1>

      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-xs-6 thumbnail"><span>
            <div class="card text-dark bg-warning mb-3" style="max-width: 18rem;">
              <div class="card-header"></div>
                <div class="card-body">
                  <h5 class="card-title">Car Key Replacement</h5>
                  <p class="card-text">Broken, malfunctioning or lost car keys we can provide you with a fresh new pair.</p>
                </div>
              </div></span></div>
          <div class="col-lg-4 col-xs-6 thumbnail"><span>
            <div class="card text-dark bg-warning mb-3" style="max-width: 18rem;">
              <div class="card-header"></div>
                <div class="card-body">
                  <h5 class="card-title">Extraction for broken/stuck car keys</h5>
                  <p class="card-text">Stuck keys in your Home, Office or Car door or ignition Our mobile services are available to you 24/7. Give us a call and our team will be there on the spot.</p>
                </div>
              </div></span></div>
          <div class="col-lg-4 col-xs-6 thumbnail"><span>
            <div class="card text-dark bg-warning mb-3" style="max-width: 18rem;">
              <div class="card-header"></div>
                <div class="card-body">
                  <h5 class="card-title">Mobile locksmith services</h5>
                  <p class="card-text">Our mobile locksmith services involves any locking or unloacking emergency at home or the office. Give us a call and one of our agents will be there to help you sort it out.</p>
                </div>
              </div></span></div>
          <div class="col-lg-4 col-xs-6 thumbnail"><span>
            <div class="card text-dark bg-warning mb-3" style="max-width: 18rem;">
              <div class="card-header"></div>
                <div class="card-body">
                  <h5 class="card-title">Ignition rekey or combination change</h5>
                  <p class="card-text">Have your ignition switch rebuilt if you want to keep the same keys. A rebuilt switch should work just as well as a new one. The only real benefit of a rebuilt switch is not having to use new keys.</p>
                </div>
              </div></span></div>
          <div class="col-lg-4 col-xs-6 thumbnail"><span>
            <div class="card text-dark bg-warning mb-3" style="max-width: 18rem;">
              <div class="card-header"></div>
                <div class="card-body">
                  <h5 class="card-title">Programming a pre-purchased car key</h5>
                  <p class="card-text">We will cover the cheapest and quickest ways you can replacement car keys.</p>
                </div>
              </div></span></div>
          <div class="col-lg-4 col-xs-6 thumbnail"><span>
            <div class="card text-dark bg-warning mb-3" style="max-width: 18rem;">
              <div class="card-header"></div>
                <div class="card-body">
                  <h5 class="card-title">Ignition change or rebuilding</h5>
                  <p class="card-text">Some signs that your ignition needs a repair, Dashboard Lights Flicker On and Off. One of the less common signs of ignition failure is if your dash lights flicker on and off or if the instrument panel suddenly shuts off while you're driving. Car will not Start. Key does not Turn. Vehicle Stalls. No Noise from the Starter Motor.</p>
                </div>
              </div></span></div>
        <div class="col-lg-4 col-xs-6 thumbnail"><span>
          <div class="card text-dark bg-warning mb-3" style="max-width: 18rem;">
                <div class="card-header"></div>
                  <div class="card-body">
                    <h5 class="card-title">Mobile service for keys locked in car.</h5>
                    <p class="card-text">If you accidentally lock your car keys inside your car or broke your keys while inside the ignition or door, Give our mobile team a call and they will be there to help within a few minutes.</p>
                  </div>
                </div></span></div>
        <div class="col-lg-4 col-xs-6 thumbnail"><span>
          <div class="card text-dark bg-warning mb-3" style="max-width: 18rem;">
                  <div class="card-header"></div>
                    <div class="card-body">
                      <h5 class="card-title">Rekeying of residential and commercial locks.</h5>
                      <p class="card-text">We can provide you with replacement keys and locks to your car, house, or commercial apartments.</p>
                    </div>
                  </div></span></div>
          <div class="col-lg-4 col-xs-6 thumbnail"><span>
            <div class="card text-dark bg-warning mb-3" style="max-width: 18rem;">
                    <div class="card-header"></div>
                      <div class="card-body">
                        <h5 class="card-title">High-security lock sales and installation.</h5>
                        <p class="card-text">We sale high quality security locks both digital and analog and we also perform the installations ourselves.</p>
                      </div>
                   </div></span></div>
        <div class="col-lg-4 col-xs-6 thumbnail"><span>
          <div class="card text-dark bg-warning mb-3" style="max-width: 18rem;">
                            <div class="card-header"></div>
                              <div class="card-body">
                                <h5 class="card-title">Digital and push-button door hardware sales and installation.</h5>
                                <p class="card-text">We sale high quality security locks both digital and analog and we also perform the installations ourselves.</p>
                              </div>
                    </div></span></div>
        <div class="col-lg-4 col-xs-6 thumbnail"><span>
          <div class="card text-dark bg-warning mb-3" style="max-width: 18rem;">
                              <div class="card-header"></div>
                                <div class="card-body">
                                  <h5 class="card-title">Safe and vault opening, repair and installation.</h5>
                                  <p class="card-text">TimCole_Locksmith does indoor and outdoor vault and safe installations as well as vault repairs and unloacking service.FOr the Unlocking and Repair of Safes, give Us a call and We will be on it.</p>
                                </div>
                     </div></span></div>
        <div class="col-lg-4 col-xs-6 thumbnail"><span>
          <div class="card text-dark bg-warning mb-3" style="max-width: 18rem;">
                              <div class="card-header"></div>
                                <div class="card-body">
                                  <h5 class="card-title">Automobile keys made and programmed.</h5>
                                  <p class="card-text">Our facilities are equiped with all the tools and expertice for key reprogramming for cars and automobiles.</p>
                                </div>
                      </div></span></div>
        </div>

  </div>

  <div class="jambo1">
    <h1 style="color: black; font-size: 2em; font-style: bold; text-align: center;">Get A Quote from Us @: 067 676 7136 </h1>
  </div>


</div>


{% endblock %}
